.header {
  text-align: center;
  padding: 50px 0;
  background-color: #b2ffd6; /* Light green */
  color: #000; /* Black */
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Circular image */
  border: 3px solid #00494d; /* Darker blue-green for contrast */
  margin-bottom: 20px;
}

.tagline {
  font-style: italic;
  margin: 20px 0;
  font-size: 1.4rem; /* Increased a bit for emphasis */
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 20px; /* Spacing between buttons */
}

.nav-btn {
  padding: 10px 25px;
  background-color: #00494d; /* Dark blue-green */
  color: #b2ffd6; /* Light green */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.nav-btn:hover {
  background-color: #003531; /* Darker shade for hover */
  transform: scale(1.05);
}
