.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #b2dff7; /* light blue */
  color: black;
}

.header-content {
  display: flex;
  flex-direction: column; /* Change this to column so that the name and tagline stack vertically */
  align-items: flex-start; /* Aligns the name and tagline to the left */
}

.header-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  align-self: center; /* This will vertically center the image in the column layout */
}

.header-title {
  font-size: 2em;
  margin-bottom: 8px; /* Adjust this margin to control the spacing between the name and tagline */
}

.header-tagline {
  font-size: 0.9em;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #8ed1a6; /* light green */
}
