.experience-container {
  padding: 20px;
  background-color: #e8f4f8; /* Light blue background */
  margin-top: 20px;
  border-radius: 5px;
}

.experience-tabs {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 30px; /* Increase spacing between buttons */
  margin-bottom: 20px;
}

.experience-tabs button {
  padding: 15px 40px; /* Increase padding to make buttons larger */
  background-color: transparent;
  border: 1px solid #b2ffd6; /* Light green border */
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1.1rem; /* Increase font size for better visibility */
  border-radius: 8px; /* Optional: Add a subtle border-radius */
}

.experience-tabs button.active {
  background-color: #b2ffd6; /* Light green background */
}

.experience-content .experience-item {
  margin-bottom: 15px;
}

.experience-content .experience-item span {
  font-weight: bold;
}
